:root {
  --font-primary: "Freckle Face", system-ui;
  --font-secondary: "Frijole", system-ui;
  --font-tertiary: "Rubik Glitch", system-ui;
  --font-cleaner: "Slackey", sans-serif;
    /* other colors */
  --warning-color: #f67272;
  --accent-color: #196a85;
  
  /* ball colors */
  --ball-color0: #A2AF9B;
  --ball-color1: #DCCFC0;
  --ball-color2: #98A1BC;
  --ball-color3: #D1A980;
  --ball-color4: #CADCAE;
  --ball-color5: #E5BEB5;
  --ball-color6: #D9C4B0;
  --ball-color7: #9ECAD6;
  --ball-color8: #A6D6D6;
  --ball-color9: #9FB3DF;
  --ball-color10: #C7D9DD;
  --ball-color11: #A7B49E;
  --ball-color12: #B9B28A;
  --ball-color13: #C1BAA1;
  --ball-color14: #A6AEBF;
  --ball-color15: #F2F1ED;
  --ball-color16: #C6E2E7;
  --ball-color17: #FFCCE1;
  --ball-color18: #F2EBCC;
  --ball-color19: #FFC697;
  --ball-color20: #CBD3AD;
  --ball-color21: #DDC3E3;
  --ball-color22: #C8CEEE;
  --ball-color23: #F2D894;
  --ball-color24: #F9C0AF;
  --ball-color25: #E9BCEC;
  --ball-color26: #F9D5C9;
  --ball-color27: #C4DADE;
  --ball-color28: #B9D9D5;
  --ball-color29: #DDE8ED;
  --ball-color30: #9BABBE;
  --ball-color31: #D0D9E2;
  --ball-color32: #D9C8BF;
  --ball-color33: #C3C2D5;
  --ball-color34: #859E91;
  --ball-color35: #ACC791;
}

.light-mode {
  /* Light mode colors */
  --bg-color: #F1F0E8;
  --supplementary-color: #E5E1DA;
  --primary-color: #89A8B2;
  --secondary-color: #B3C8CF;
}

.dark-mode {
  /* Dark mode colors */
  --bg-color: #89A8B2;
  --supplementary-color: #B3C8CF;
  --primary-color: #F1F0E8;
  --secondary-color: #E5E1DA;
}


/* for icons (rocket_launch, light_mode and dark_mode */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left)
}

.main-page-container {
  width: 100svw;
  min-width: 100vw;
  height: 100svh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.main-title-and-theme-container {
  width: clamp(300px, 70%, 800px);
  display: flex;
  justify-content: space-between;
}

.title-container {
  height: clamp(3rem, 12vw, 7.5rem);
  display: flex;
  justify-content: center;
  padding-top: 0.5%;
  color: var(--primary-color);
  font-family: var(--font-tertiary);
}

.title {
  font-size: clamp(5.5rem, 10vw, 7rem);
}

.bub-title, .reg-title {
  color: var(--accent-color);
}

.reg-title {
  font-size: clamp(2rem, 8vw, 3.4rem);
  font-family: var(--font-primary);
}

.tz-title, .bl-title {
  color: var(--primary-color);
}

.i-title {
  color: var(--warning-color);
}

.theme-container {
  width: 50px;
  height: 30px;
  border: 3px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.theme-btn-container {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  position: relative;
}

.theme-btn {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background-color: var(--warning-color);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  transition: left 0.15s linear;
}

.theme-btn.light-mode {
  left: 0%;
}

.theme-btn.dark-mode {
  left: 50%;
}

.theme {
  font-size: 16px;
  color: var(--accent-color);
}

.main-caption-container {
  height: 5%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-caption {
  font-family: var(--font-primary);
  font-size: clamp(1rem, 4.5vw, 2.4rem);
  color: var(--accent-color);
}

.footer-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: clamp(0.7rem, 3vw, 1rem);
  gap: 4px;
  color: var(--accent-color);
}

.reg-footer {
  font-family: var(--font-primary);
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  color: var(--accent-color);
}

.rocket-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.demo-container {
  margin-top: 20px;
  width: clamp(320px, 70vw, 800px);
  height: 55%;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 0 0 40px 10px var(--secondary-color);
  position: relative;
}

.ball {
  position: absolute;
  border-radius: 50%;
  border: 6px solid black;
  box-shadow: 0 0 10px 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pop {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1.5); opacity: 0; }
}

@keyframes wrong-guess {
  25%,75% { transform: scale(1.5); background-color: red }
  50%, 100% { transform: scale(1); background-color: white }
}

@keyframes shake {
  0%, 20%, 40%, 60%, 80%, 100% { transform: translateX(-10px);}
  10%, 30%, 50%, 70%, 90% { transform: translateX(10px)}
}

@keyframes emphasize {
  0% { transform: translate(0, 25vh) scale(10); }
  100% { transform: translate(0, 0) scale(1); }
}

.emphasize {
  animation: emphasize 1500ms ease both;
}

.ball-value {
  position: relative;
  /* z-index: 1; */
  font-family: var(--font-cleaner);
  font-weight: 600;
  font-size: 0.55em;
  color: lightslategray;
}

.six {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

@keyframes rotate-cw {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}

@keyframes rotate-ccw {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(-360deg)}
}

@keyframes change-ball-size {
  0% {transform: scale(1)}
  50% {transform: scale(0.2)}
  100% {transform: scale(1)}
}

@keyframes vanish {
  0%,50% {opacity: 1}
  25%, 75% {opacity: 0}
  100% {opacity: 1}
}

.main-btn-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btn {
  font-family: var(--font-primary);
  width: clamp(200px, 15vw, 350px);
  white-space: nowrap;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: clamp(0.8em, 4.5vw, 1.6rem);
  background-color: var(--primary-color);
  transition: transform 0.2s ease;
  color: var(--accent-color);
  z-index: 5;
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.95);
  color: var(--bg-color);
}

/* how to play page */
.how-to-play {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-primary);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.how-to-play-header-theme-container {
  width: clamp(320px, 70vw, 750px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.how-to-play-header-theme-container > .theme-container {
  align-self: flex-end;
}

header {
  height: 10%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-to-play__title {
  font-size: clamp(1.8rem, 6vw, 3.2rem);
}

.how-to-play__subtitle {
  font-size: clamp(0.8rem, 2.4vw, 1.6rem);
  white-space: nowrap;
}


.how-to-play-content-container {
  height: 63%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: clamp(310px, 70vw, 800px);
  color: var(--accent-color);
  background-color: var(--secondary-color);
  gap: 20px;
  overflow: scroll;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 20px 8px var(--accent-color);
  padding: 1% 3%;
}

.how-to-play__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.how-to-play__heading {
  font-size: clamp(0.7rem, 4vw, 1.4rem);
}

.how-to-play__text, .how-to-play__list {
  margin-top: 10px;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}

.how-to-play__list > li {
  margin-left: clamp(30px, 5vw, 60px);
}

.how-to-play__btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.how-to-play-btns {
  height: auto;
  width: clamp(150px, 20vw, 300px);
  background-color: var(--secondary-color);
  padding: clamp(2px, 3vh, 4px) clamp(12px, 2.5vw, 20px);
  font-size: clamp(0.9rem, 5vw, 1.8rem);
  color: var(--accent-color);
}

/* play-page */
.play-page-container {
  box-sizing: border-box;
  width: 100vw;
  min-width: 100svw;
  height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--bg-color);
}

.play-page-hud-container {
  height: 20%;
  width: clamp(320px, 70vw, 750px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.play-page-title-and-theme-container {
  height: 50%;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  
}

.play-page-title-and-theme-container > .title-container {
  width: clamp(280px, 80%, 400px);
  font-family: var(--font-tertiary);
  justify-content: flex-start;
}

.play-page-instruction-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: var(--font-cleaner);
  color: var(--accent-color);
  z-index: 5;
}

.instruction-pre, .instruction-post, .instruction-ball-order {
  font-size: clamp(0.8rem, 2.6vw, 2rem);
}

.instruction-ball-order {
  color: var(--warning-color);
  text-decoration: underline;
}

.play-page-level-lives-container {
  width: 80%;
  font-family: var(--font-cleaner);
  display: flex;
  justify-content: space-between;
  align-self: center;
  z-index: 5;
}

.play-page-level {
  color: var(--accent-color);
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.play-page-lives {
  color: var(--warning-color);
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.play-page-level-value, .play-page-lives-value {
  font-size: clamp(1rem, 3vw, 1.4rem);
  margin-left: 8px;
  display: inline-block;
  z-index: 200;
}

.play-area-container {
  margin-top: 80px;
  width: clamp(330px, 70%, 700px);
  height: 60%;
  border-radius: 10px;
  border: 2px solid black; 
  background-image: linear-gradient(23deg, var(--primary-color), var(--accent-color), var(--primary-color));
  box-shadow: 0 0 30px 10px var(--secondary-color);
  position: relative;
}

.play-btn {
  margin-top: 20px;
}

.timer-container {
  width: clamp (150px, 20vw, 300px);
  background-color: var(--accent-color);
  border: 3px solid black;
  border-radius: 10px;
  padding: 2px 10px;
  justify-self: center;
  align-self:self-start ;
  margin-top: -70px;
  font-family: var(--font-cleaner);
  box-shadow: 0 0 5px 0px red;
  animation: glow 1s linear infinite alternate-reverse;
}

@keyframes glow {
  100% { box-shadow: 0 0 20px 10px red;}
}

.timer {
  font-size: clamp(1rem, 3vw, 2.4rem);
  color: var(--warning-color);
}

.game-over-container {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 15%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 4px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--supplementary-color);
  z-index: 200;
  animation: show-game-over 1s ease forwards;
}

@keyframes show-game-over {
  0% { transform: scale(0); opacity: 0 }
  100% { transform: scale(1); opacity: 1}
}

.game-over {
  font-family: var(--font-cleaner);
  font-size: clamp(1.2rem, 4vw, 2.5rem);
  color: var(--warning-color);
}

.game-over-play-again-btn, .game-over-quit-btn {
  width: clamp(160px, 80%, 300px);
  background-color: var(--accent-color);
}

.game-over-play-again-btn {
  color: var(--supplementary-color);
}

.game-over-quit-btn {
  color: var(--warning-color);
}

/* responsiveness */
@media screen and (max-width: 900px) {
  .title {
    margin-top: 12px;
    font-size: clamp(3.3rem, 12vw, 5rem);
    transform: scaleY(1.3);
  }

  .main-caption-container {
    margin-top: 18px;
  }

}

@media (max-width: 600px) {
  .play-page-instruction-container {
    margin-top: 20px;
  }

  .play-area-container {
    margin-top: 20px;
  }

  .theme-container {
    width: 36px;
    height: 24px;
    border: 2px solid var(--accent-color);
  }

  .theme {
    display: flex;
    justify-content: flex-end;
  }

  .main-caption-container {
    margin-top: 20px;
    align-items: flex-end;
  }

  .main-btn-container {
    margin-top: 10px;
  }
  .demo-container {
    margin-top: 10px;
    height: 56%;
  }

  .timer-container {
    margin-top: -50px;
  }
}

@media (max-width: 400px) and (min-width: 320px) {

  .how-to-play__btn-container {
  }

  .timer-container {
    margin-top: -40px;
    border: 2px solid black;
  }
}