:root {
  --font-primary: "Freckle Face", system-ui;
  --font-secondary: "Frijole", system-ui;
  --font-tertiary: "Rubik Glitch", system-ui;
  --font-cleaner: "Slackey", sans-serif;
    /* other colors */
  --warning-color: #f67272;
  --accent-color: #196a85;
  
  /* ball colors */
  --ball-color0: #A2AF9B;
  --ball-color1: #DCCFC0;
  --ball-color2: #98A1BC;
  --ball-color3: #D1A980;
  --ball-color4: #CADCAE;
  --ball-color5: #E5BEB5;
  --ball-color6: #D9C4B0;
  --ball-color7: #9ECAD6;
  --ball-color8: #A6D6D6;
  --ball-color9: #9FB3DF;
  --ball-color10: #C7D9DD;
  --ball-color11: #A7B49E;
  --ball-color12: #B9B28A;
  --ball-color13: #C1BAA1;
  --ball-color14: #A6AEBF;
  --ball-color15: #F2F1ED;
  --ball-color16: #C6E2E7;
  --ball-color17: #FFCCE1;
  --ball-color18: #F2EBCC;
  --ball-color19: #FFC697;
  --ball-color20: #CBD3AD;
  --ball-color21: #DDC3E3;
  --ball-color22: #C8CEEE;
  --ball-color23: #F2D894;
  --ball-color24: #F9C0AF;
  --ball-color25: #E9BCEC;
  --ball-color26: #F9D5C9;
  --ball-color27: #C4DADE;
  --ball-color28: #B9D9D5;
  --ball-color29: #DDE8ED;
  --ball-color30: #9BABBE;
  --ball-color31: #D0D9E2;
  --ball-color32: #D9C8BF;
  --ball-color33: #C3C2D5;
  --ball-color34: #859E91;
  --ball-color35: #ACC791;
}

.light-mode {
  /* Light mode colors */
  --bg-color: #F1F0E8;
  --supplementary-color: #E5E1DA;
  --primary-color: #89A8B2;
  --secondary-color: #B3C8CF;
}

.dark-mode {
  /* Dark mode colors */
  --bg-color: #89A8B2;
  --supplementary-color: #B3C8CF;
  --primary-color: #F1F0E8;
  --secondary-color: #E5E1DA;
}


/* for icons (rocket_launch, light_mode and dark_mode */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page-container {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.title-container {
  width: clamp(300px, 800px, 70%);
  height: clamp(3rem, 12vw, 7.5rem);
  display: flex;
  justify-content: center;
  padding-top: 0.5%;
}

.title {
  color: var(--primary-color);
  font-family: var(--font-tertiary);
  font-size: clamp(2rem, 12vw, 7rem);
}

.bub-title, .reg-title {
  color: var(--accent-color);
}

.reg-title {
  margin-top: 14%;
  font-family: var(--font-primary);
}

.tz-title, .bl-title {
  color: var(--primary-color);
}

.i-title {
  color: var(--warning-color);
}

.theme-container {
  width: clamp(40px, 4vw, 50px);
  height: clamp(20px, 4vw, 30px);
  position: fixed;
  top: 1%;
  /* right: 20%; */
  right: clamp(10px, 20%, 500px);
  border: 3px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-btn-container {
  width: 90%;
  height: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  position: relative;
}

.theme-btn {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background-color: var(--warning-color);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  /* animation: ; */
}

.theme {
  font-size: 16px;
  color: var(--accent-color);
}

@keyframes slide-right {
  100% {left: 50%};
}

@keyframes slide-left {
  0% {left: 50%}; 100% {left: 0};
}

.main-caption-container {
  height: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-caption {
  font-family: var(--font-primary);
  font-size: clamp(1rem, 4vw, 2rem);
  color: var(--accent-color);
}

.footer-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: clamp(0.7rem, 3vw, 1rem);
  gap: 4px;
  color: var(--accent-color);
}

.reg-footer {
  font-family: var(--font-primary);
  font-size: clamp(1.2rem, 3vw, 2rem);
  color: var(--primary-color);
}

.rocket-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.demo-container {
  margin-top: 20px;
  width: clamp(300px, 70%, 700px);
  height: 60%;
  border-radius: 10px;
  /* border: 2px solid black; */
  background-color: var(--primary-color);
  box-shadow: 0 0 30px 10px var(--secondary-color);
  position: relative;
}

.ball {
  position: absolute;
  border-radius: 50%;
  border: 6px solid black;
  box-shadow: 0 0 10px 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-value {
  font-family: var(--font-cleaner);
  font-weight: 600;
  font-size: 0.55em;
  color: lightslategray;
}

@keyframes rotate-cw {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}

@keyframes rotate-ccw {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(-360deg)}
}

@keyframes change-ball-size {
  0% {transform: scale(1)}
  50% {transform: scale(0.2)}
  100% {transform: scale(1)}
}

@keyframes vanish {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}

}

.main-btn-container {
  width: 60%;
  height: 15%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: var(--font-primary);
  width: clamp(150px, 40%, 250px);
  border-radius: 10px;
  height: 46px;
  font-size: clamp(0.8em, 5vw, 2rem);
  background-color: var(--primary-color);
  transition: transform 0.2s ease;
}

.btn:hover {
  cursor: pointer;
  transform: scale(0.95);
  color: var(--bg-color);
}

/* how to play page */
.how-to-play {
  padding: 2% 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-primary);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

header {
  height: 10%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-to-play__title {
  font-size: clamp(1.8rem, 6vw, 3.2rem);
}

.how-to-play__subtitle {
  font-size: clamp(0.8rem, 2.4vw, 1.6rem);
  white-space: nowrap;
}


.how-to-play-content-container {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: clamp(310px, 60vw, 800px);
  gap: 20px;
  overflow: scroll;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 20px 8px var(--accent-color);
  padding: 1% 3%;
}

.how-to-play__section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.how-to-play__heading {
  font-size: clamp(0.7rem, 4vw, 1.4rem);
}

.how-to-play__text, .how-to-play__list {
  margin-top: 10px;
  font-size: clamp(0.8rem, 3vw, 1.1rem);
}

.how-to-play__list > li {
  margin-left: clamp(30px, 5vw, 60px);
}

.how-to-play__btn-container {
  /* height: clamp(30px, 15vh, 100px);
  width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 400px) {
  .how-to-play__btn-container {
    margin-top: -14px;
  }

}

.how-to-play-btns {
  height: auto;
  width: auto;
  background-color: var(--secondary-color);
  padding: clamp(4px, 5vh, 8px) clamp(16px, 2.5vw, 24px);
  font-size: clamp(0.9rem, 5vw, 2rem);
}

/* play-page */
.play-page-container {
  position: absolute;
  box-sizing: border-box;
  background-color: black;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 20px solid red;
}

.play-page-instruction-level-container {
  height: 15%;
  width: 100vw;
  border: 1px solid red;
}

/* .play-area-container {
  margin-top: 20px;
  width: clamp(300px, 70%, 700px);
  height: 60%;
  border-radius: 10px;
  /* border: 2px solid black; 
  background-color: var(--primary-color);
  box-shadow: 0 0 30px 10px var(--secondary-color);
  position: relative;
} */

