:root {
  --font-primary: "Freckle Face", system-ui;
  --font-secondary: "Frijole", system-ui;
  --font-tertiary: "Rubik Glitch", system-ui;
  --font-cleaner: "Slackey", sans-serif;
    /* other colors */
  --warning-color: #f67272;
  --accent-color: #196a85;
  
  /* ball colors */
  --ball-color0: #A2AF9B;
  --ball-color1: #DCCFC0;
  --ball-color2: #98A1BC;
  --ball-color3: #D1A980;
  --ball-color4: #CADCAE;
  --ball-color5: #E5BEB5;
  --ball-color6: #D9C4B0;
  --ball-color7: #9ECAD6;
  --ball-color8: #A6D6D6;
  --ball-color9: #9FB3DF;
  --ball-color10: #C7D9DD;
  --ball-color11: #A7B49E;
  --ball-color12: #B9B28A;
  --ball-color13: #C1BAA1;
  --ball-color14: #A6AEBF;
}

.light-mode {
  /* Light mode colors */
  --bg-color: #F1F0E8;
  --supplementary-color: #E5E1DA;
  --primary-color: #89A8B2;
  --secondary-color: #B3C8CF;
}

.dark-mode {
  /* Dark mode colors */
  --bg-color: #89A8B2;
  --supplementary-color: #B3C8CF;
  --primary-color: #F1F0E8;
  --secondary-color: #E5E1DA;
}


/* for icons (rocket_launch, light_mode and dark_mode */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}

.title-container {
  width: clamp(300px, 800px, 70%);
  height: clamp(3rem, 12vw, 7.5rem);
  display: flex;
  justify-content: center;
  padding-top: 0.5%;
  position: relative;
}

.title {
  color: var(--primary-color);
  font-family: var(--font-tertiary);
  font-size: clamp(2rem, 12vw, 7rem);
}

.bub-title, .reg-title {
  color: var(--accent-color);
}

.reg-title {
  margin-top: 14%;
  font-family: var(--font-primary);
}

.tz-title, .bl-title {
  color: var(--primary-color);
}

.i-title {
  color: var(--warning-color);
}

.theme-container {
  width: clamp(40px, 4vw, 50px);
  height: clamp(20px, 4vw, 30px);
  position: absolute;
  top: 10%;
  right: clamp(0px, 5%, 300px);
  border: 3px solid var(--accent-color);
  border-radius: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-btn-container {
  width: 90%;
  height: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  position: relative;
}

.theme-btn {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  /* animation: ; */
}

.theme {
  font-size: 16px;
  color: var(--accent-color);
}

@keyframes slide-right {
  100% {left: 50%};
}

@keyframes slide-left {
  0% {left: 50%}; 100% {left: 0};
}

.main-caption-container {
  height: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-caption {
  font-family: var(--font-primary);
  font-size: clamp(1rem, 4vw, 2rem);
  color: var(--accent-color);
}

.footer-container {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: clamp(0.7rem, 3vw, 1rem);
  gap: 4px;
  color: var(--accent-color);
}

.reg-footer {
  font-family: var(--font-primary);
  font-size: clamp(1.2rem, 3vw, 2rem);
  color: var(--primary-color);
}

.rocket-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 3vw, 1.4rem);
}

.demo-container {
  margin-top: 20px;
  width: clamp(300px, 70%, 700px);
  height: 60%;
  border-radius: 10px;
  /* border: 2px solid black; */
  background-color: var(--primary-color);
  box-shadow: 0 0 24px 20px var(--secondary-color);
  position: relative;
}

.ball {
  position: absolute;
  border-radius: 50%;
  border: 6px solid black;
  box-shadow: 0 0 10px 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-value {
  font-family: var(--font-cleaner);
  font-weight: 600;
  opacity: 1;
  color: white;
}